
@media screen and (max-width:800px)
{
 
	*{
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
	}
	body
	{
		background-color:green;
	}

	.nav
	  {
		  width:100%;
		  background-color:rgb(211, 23, 23);
	  }

	  .logo{
		  width:150px;
		  height:80px;
		  position:absolute;
		  left:50%;
		  transform:translateX(-50%);
		  padding-right: 60px;
		  padding-top: 18px;
	  }
	  .logo img{
		  width:100%;
	  }
	  
	  .container
	  {
	   background:rgb(234, 234, 240);
	   margin: 10px;
	   padding: 10%;
	  }
	  .b
	  {
	   width:100%;
	   display:block;
	   height:auto;
	  }
	  
.blink_me {

  /* IE */
  animation:blink normal 3s infinite ease-in-out;

}

@keyframes blink {
 0%{
		opacity:0;
  }

}
	  
	  .div-box
	  {
		width:100%;
		height:auto;
		
	  }
	  .div-box h2 
	  {
		color:red;
		font-size:5vw;
		margin-top: 10px;
	  }
	  .div-box p
	  {
		 font-size:4vw;
		 color:green;
		 margin-top: 18px;
		 
	  }
	 .div-box1
	  {
	   width:100%; 
	  }
	  .btn
	  {
		  font-size:5vw;
		  margin-left: 15px;
		  color:#247cff;
		  text-transform:uppercase;
		  font-weight:bold;
		  line-height: 35px;
		  position: static;
		  padding: 0 5px;
		  text-align:center;
		  margin-top: 14px;
	  
	  }
	  .btn:hover{
		  color:#247cff;
		  cursor:pointer;
	  }
	   .em
	  {
		  margin-top: 14px;
		  padding-left: 87px;
		  padding-top: 14px;
		  font-size: 5vw;
	  }
	  .container-e{
		  width:100%;
		  margin-top:20px;
		  background-color: rgb(36, 97, 151);
	  }
	  
	  .d{
		  width:100;
		  display:block;
		  padding:2px 60px;
		  box-sizing:border-box;
	  }
	  
	  .d h1{
		  font-size:6vw;
		  font-weight:bold;
		  text-align:left;	
	  }
	  
	  .d p{
		  font-family:arial;
		  font-size:4vw;
		  color:slategrey;
	  }
	  
	  .f{
		  display:inline-flex;
		  flex-direction:column;
		  width:76%;
		  min-height:300px;
		  background:#FFF ; 
		  border-radius: 100%;
		  margin-left:30px ;
	  }
	  
	  .f .fe{
		  width:100%;
		  min-height:260px;
		  font-size: 1rem;
		  line-height: 2rem;
		  font-weight:bold;	
	  }
	  
	  .f .fe .fn{
		  color:#247cff;
		  margin-left:65px;
		  padding-top:40px;
		  text-align:left;
		  font-size: 8rem;
		  margin-top:20px;
		  font-family: helvatica;
		  display:block;
	  }
	  
	  
	  
	   .span{
		  padding-left:30px;
	  }
	   strong{
		  padding-left: 248px;
		  font-size:6vw;
	  }
	   em{
		  padding-left: 150px;
		  font-size: 5vw;
	  }
	  h1{
		  text-align:center;
		  font-weight:bold;
		  font-size:30px;
		  margin-top:10px;
	  }
	  
	  .v
	  {
		   width:100%;
		   min-height:200px;
		  margin:auto;
		  display:inline-block;
		  padding: 8%;
	  }
	  
.u{ 
  background:white;
  box-shadow: -24px 27px 95px -47px ;
  min-height:190px;
  display: block;
  padding-top: 13px;
}
.u h1{
  box-shadow: inset 0px 67px 0px black;
  line-height: 2.8;
  color: white;
  text-align:center;
  font-size:5vw;
  padding-right: 20px;
}
.u p{
  color:#9b9b9b;
  padding-top:22px;
  font-size:4vw;
  margin-top: -20px;
  padding-right:24px;
   
}

.t{
  display: block;
  text-align:center;
  padding-top: 13px;
  padding-bottom: 12px;
}

.t .fa {
  width: 80px;
  min-height: 60px;
  padding-top:30px;
  border-radius: 50px;
  box-shadow: 2px 16px 40px -30px;
  align-self: center;
  background-color: #fcfeff;
  margin-left:2px;
}

.q{
  display: block;
  padding-top:10px;
  text-align: center;
}
.q  p{
  font-size: 4vw;
  text-align: center;
}
.g{
  width:100%;
  min-height: 200px;
  display:inline-block;
  padding: 8%;

}
.g div {
  margin:0px;
  
}

.g3{ 
  background:white;
  box-shadow: -24px 27px 95px -47px ;
  min-height:190px;
  display: block;
  padding-top: 13px;


}
.g3 h1{
  box-shadow: inset 0px 67px 0px black;
  line-height: 2.8;
  color: white;
  text-align:left;
  font-size:6vw;
  padding-left: 20px;
  margin:0px;
}
.g3 p{
  color:#9b9b9b;
  padding-top:22px;
  font-size:4vw;
  margin-top:-20px;
  text-align:left;

}

.g2{
  text-align:center;
  display: block;
  padding-top: 13px;
  padding-bottom: 12px;
}
.g2 .fa {
  width: 80px;
  min-height: 60px;
  padding-top:10px;
  border-radius: 50px;
  box-shadow: 2px 16px 40px -30px;
  align-self: center;
  background-color: #fcfeff;
  margin-left:6px;
}

.g1{
  padding-top:20px;
  display: block;
  padding-top: 13px;
}
.g1 p{
	  font-size: 4vw;
	  text-align: center;
}
.s0
{
   width:100%;
   min-height:200px;
  margin:auto;
  display:inline-block;
  padding: 8%;
}

.s1{ 
background:white;
box-shadow: -24px 27px 95px -47px ;
min-height:190px;
display: block;
padding-top: 13px;
}
.s1 h1{
box-shadow: inset 0px 67px 0px black;
line-height: 2.8;
color: white;
text-align:center;
font-size:5vw;
padding-right: 20px;
}
.s1 p{
color:#9b9b9b;
padding-top:22px;
font-size:4vw;
margin-top: -20px;
padding-right:24px;

}

.s2{
display: block;
text-align:center;
padding-top: 13px;
padding-bottom: 12px;
}

.s2 .fa {
width: 80px;
min-height: 60px;
padding-top:30px;
border-radius: 50px;
box-shadow: 2px 16px 40px -30px;
align-self: center;
background-color: #fcfeff;
margin-left:2px;
}

.s3{
display: block;
padding-top:10px;
text-align: center;
}
.s3 p{
font-size: 4vw;
text-align: center;
}

.z{
  width:100%;
  min-height: 200px;
  display:inline-block;
  padding: 8%;

}
.z div {
  margin:0px;
  
}

.y{ 
  background:white;
  box-shadow: -24px 27px 95px -47px ;
  min-height:190px;
  display: block;
  padding-top: 13px;


}
.y h1{
  box-shadow: inset 0px 67px 0px black;
  line-height: 2.8;
  color: white;
  text-align:left;
  font-size:6vw;
  padding-left: 20px;
  margin:0px;
}
.y p{
  color:#9b9b9b;
  padding-top:22px;
  font-size:4vw;
  margin-top:-20px;
  text-align:left;

}

.i{
  text-align:center;
  display: block;
  padding-top: 13px;
  padding-bottom: 12px;
}
.i .fa {
  width: 80px;
  min-height: 60px;
  padding-top:10px;
  border-radius: 50px;
  box-shadow: 2px 16px 40px -30px;
  align-self: center;
  background-color: #fcfeff;
  margin-left:6px;
}

.x{
  padding-top:20px;
  display: block;
  padding-top: 13px;
}
.x p{
	  font-size: 4vw;
	  text-align: center;
}
.w
{
   width:100%;
   min-height:200px;
  margin:auto;
  display:inline-block;
  padding: 8%;
}

.w1{ 
background:white;
box-shadow: -24px 27px 95px -47px ;
min-height:190px;
display: block;
padding-top: 13px;
}
.w1 h1{
box-shadow: inset 0px 67px 0px black;
line-height: 2.8;
color: white;
text-align:center;
font-size:5vw;
padding-right: 20px;
}
.w1 p{
color:#9b9b9b;
padding-top:22px;
font-size:4vw;
margin-top: -20px;
padding-right:24px;

}

.w2{
display: block;
text-align:center;
padding-top: 13px;
padding-bottom: 12px;
}

.w2 .fa {
width: 80px;
min-height: 60px;
padding-top:30px;
border-radius: 50px;
box-shadow: 2px 16px 40px -30px;
align-self: center;
background-color: #fcfeff;
margin-left:2px;
}

.w3{
display: block;
padding-top:10px;
text-align: center;
}
.w3 p{
font-size: 4vw;
text-align: center;
}


.flex-b{
  display:inline-flex;
  flex-direction:column;
  width: 300px;
  height: 400px;
  box-sizing:border-box;
  justify-content:space-around;
  margin:auto;
  margin-left:80px;
  background-color: aquamarine;
}

.flex-b > div{ 
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;

} 

#main {
  flex-direction:column;
  margin:10px;
  
}

#main div {
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

.h{
  color:#247cff;
  font-size:13px;
  padding-left:15px;


}
.para{
  color:black;
  font-size:15px;
  padding-right:50px;
  
}
.avtar{
  padding-top: 70px;
  display: inline-block;
  padding-left:0px;
}
.avtar img{
  border-radius:50%;
}
.span{
  color:black;
  font-size:14px;
  padding-top:46px;
  float: right;
  font-weight:bold
  

}

.star {	
  padding-left:15px;
  padding-top:37px;
} 
.star img{
  border-radius:56%;
}
.flex-b2{
  width:520px;
  min-height:340px;
  display:inline-flex;
}

.p{
  flex-direction:column;
  margin:10px;  
  background:black;
  box-shadow:1px 3px 1px;
 
}
.p div {
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

.p .h{
  color:#247cff;
  font-size:13px; 
  padding-left:40px;
}

.p .para{
  color:white;
  font-size:16px;
  padding-left:3px;
  padding-right:75px;
  
}
.p .avtar{
  padding-top:2px;
  padding-left: 20px;
}
.avtar img{
  border-radius:50%;
}
.p .span{
  color:white;
  font-size:16px;
  padding-right: 117px;
  float: right;
  padding-top: 47px;
}

.p .star1{
  padding-top:20px;
  padding-left: 40px;
}
.p .star1 img{
  border-radius:60%;
}

.flex-b3{
  width:300px;
  min-height:300px;
  display:inline-flex;
  flex-direction:column;
  margin-left:80px;
  background-color: beige;
}

.k{
  width:300px;
  min-height:300px;
  display:inline-flex;
  margin:10px;
  flex-direction:column;
  
  

}
.k div {
 -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

.k .h{
  color:#247cff;
  font-size:13px; 
  padding-left:20px;
}

.k .para{
  color:black;
  font-size:16px;
  
}
.k .avtar{
  padding-left: 2px;
  display: inline-block;
  padding-top:24px;

}
.avtar img{
  border-radius:50%;
}
.k .span{
  color:black;
  font-size:15px;
  float: right;
  padding-right: 0px;
  padding-top: 45px;
  padding-left: 16px;
}

.p .star {	
  padding-left:20px;
}
.p .star img{
  border-radius:56%;
}


.d-container{
  width:100%;
  min-height:350px;
  margin:auto;
  background:brown;
  margin-top:60px;
  
}
.form-1{
  text-align:center;
  margin:20px;
  font-size:18px;
  

}
.form-1 input{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px  solid rgba(0, 0, 0, 0.2);
  font-family:helvatica;
  font-size: large;
  padding:20px;
  width:100%;
  background: burlywood;
  
  
}
textarea{
  height: 136px;
  width: 100%;
  padding: 2px;
  border:none;
  border-bottom:1px  solid rgba(0, 0, 0, 0.2);
  font-family:helvatica;
  font-size: large;
  background: burlywood;
}
textarea:focus{
  border: 4px solid #247cff;
}

.btn-1{
  background-color:black;
  width:130px;
  min-height:15px;
  color:white;
  font-size:20px;
  line-height:1.5;
  text-align:center;
  border:transparent;
  margin-left: 130px;
}
.btn-1:hover{
  background:#247cff;
  cursor:pointer;
  
}

.c{
  width:100%;
  margin:auto;
  box-sizing:border-box;
  background:rgba(0, 0, 0, 0.05);
  min-height:500px;
  margin-top:60px;
  border: coral;
  
}
.r{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  padding:10px;
  width:100%;
  box-sizing:border-box;
  justify-content:space-between;
  min-height:450px;
  margin-top: 5px;
  padding-top: 100px;
}

.f-1{
  display:inline-flex;
  flex-wrap:wrap;
  flex-direction:column;
  width:450px;
  min-height:200px;
  margin:10px;
}
.f-1 > div{
  -ms-flex: 1; 
  flex: 1;
}
.h-1{
  font-size:15px;
  padding-left:10px;
}
.h-1 h1{
  text-align:left;
  font-size:20px;
  padding-left:10px;
}
.h-1 span{
  
  padding-left:10px;
}
.f2{
  
  padding-left:10px;
}
.f2 p{
  font-size:18px;
  display:inline-block;
  border-top:1px solid black;
  padding-top:15px;
  padding-left:10px;
}
.f2 span{
  float:right;
  padding-left:40px;
}
.f3{
  padding-left:10px;
}
.f3 p{
  font-size:18px;
  display:inline-block;
  border-top:1px solid black;
  padding-top:15px;
  padding-left:10px;
}
.f3 span{
  float:right;
  padding-left:163px;
}

.h1{
  display:inline-flex;
  flex-direction:column;
  width:153px;
  min-height:150px;
  margin:auto;
  padding:10px;

}

.h-2{
  font-size:15px;
  text-align:center;
}
.h-2 h1{
  font-size:20px;
}
.h-3{
  text-align:center;
  
}
.h-4{
  text-align:center;	
}

.s{
  display:inline-flex;
  flex-direction:column;
  margin:auto;
  padding:20px;
  width:240px;
  min-height:150px;
  
}
.s h1{
  text-align:left;
  padding-left:15px;
  font-size:20px;
}

.fonts .fa{
  padding-left:20px;
  padding-left: 20px;
  width: 20px;
  min-height: 0px;
  background: none;
  padding-top: 0px;	
} 

.cop{
  display:inline-flex;
  flex-direction:column;
  margin:auto;
  width:200px;
  min-height:130px;
  margin-left: 120px;
}
.cop p{
  font-size:15px;
  
}

  
}